*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Fredoka One", cursive;
}

body {
  text-align: center;
  background-color: #0a0e14;
  position: relative;
  color: #fd9353;
}

.dark-theme {
  position: absolute;
  top: 10px;
  right: 10px;
}

.light-theme {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.page_one {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.about_link {
  margin-top: 10px;
}

.page_one .quick_link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.quick_link .quick_link_arrow {
  animation: bounce;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.page_two {
  padding: 24px 20px;
}

.page_two .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items .item {
  min-width: 200px;
  flex: 1;
  padding: 10px 20px;
}

.item a {
  color: #fc618d;
}

a {
  color: #88898f;
  text-decoration: none;
}

.text-js {
  opacity: 0;
}
.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  background-color: #fd9353;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  padding: 20px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
  padding: 10px;
}

/* light theme */
body.light {
  background-color: #fefefe;
}

body.light .dark-theme {
  display: none;
}

body.light .light-theme {
  display: block;
}
